{% extends "base_generic.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static "user_management/css/home.css" %}" type=text/css>
{% endblock head %}
{% block content %}
  <div class="home__content">
    <div class="home__text">
      <p>All your hobbies in one place</p>
      <p>Never have to worry about managing your hobbies ever again!</p>
      <p>
        hobbylobby gathers different kinds of apps together, allowing users to cater to all their hobbies using only one website.
      </p>
    </div>
    <img src="{% static 'user_management/images/laptop.svg' %}"
         class="home__image" />
  </div>
{% endblock content %}
