{% extends "wiki/base_wiki.html" %}
{% block content %}
  <h2>{{ title }}</h2>
  {% if article.image %}
  <img src="{{ article.image.url }}" alt="Article Image">
  {% endif %}
  <p>
    {% if user.is_authenticated and user == article.author %}
    <a href="{% url 'wiki:article_update' pk=article.pk %}">Edit Article</a>
    {% endif %}
    <br/>
    <strong>Created by:</strong> {{ article.author }}
    <br />
    <strong>Category:</strong> {{ category }}
    <br />
    <strong>Created on:</strong> {{ created_on }}
    <br />
    <strong>Updated on:</strong> {{ updated_on }}
    <br />
  </p>
  <strong>Entry:</strong>
  <p>{{ entry }}</p>

  {% if user.is_authenticated %}
  <h3>Add a comment:</h3>
  <form method="post" action="{% url 'wiki:article_detail' pk=article.pk %}">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Submit</button>
  </form>
  {% else %}
    <p>Please <a href="{% url 'login' %}">login</a> to add a comment.</p>
  {% endif %}
  
  <h3>Comments:</h3>
  {% for comment in comments %}
    <p>
      <strong>{{ comment.author.username }}</strong>: {{ comment.created_on }}:
      <br>
      {{ comment.entry }}
    </p>
  {% empty %}
    <p>No comments yet.</p>
  {% endfor %}

  <h3>Read More From {{ article.category }}:</h3>
  {% for related_article in related_articles %}
    <a href="{% url 'wiki:article_detail' pk=related_article.pk %}"> {{ related_article.title }}</a>
    <br />
  {% endfor %}
<br/>
  <strong><a href="{% url 'wiki:article_list' %}">Return</a></strong>

{% endblock content %}
