{% extends "forum/base.html" %}
{% load static %}
{% block title %}
    Forum
{% endblock title %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet">
{% block styles %}
    <style>
        *,
        ::before,
        ::after {
            box-sizing: border-box;
            line-height: 1.5;
        }

        * {
            margin-left: 0.15rem;
            margin: 0;
            padding: 0;
        }

        html {
            scroll-behavior: smooth;
            overflow-x: hidden;
        }

        body {
            font-family: "Inter", sans-serif;
            font-size: 1rem;
        }

        a {
            text-decoration: none;
            color: unset;
        }

        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #heading {
            width: 85rem;
            padding-bottom: 1rem;
        }

        #heading h1{
            margin-top: 1rem;
        }

        #content {
            margin-bottom: 7rem;
            width: 85rem;
        }

        .content__posts {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .content__posts__post {
            box-shadow: 0 0 2px gray;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 4px;
        }

        .p__space {
            padding-bottom: 1.5rem;
        }
    </style>
{% endblock styles %}
{% block heading %}
    <h1>{{ category.name }}</h1>
{% endblock heading %}
{% block content %}
    <div class="content__posts">
        {% for post in posts %}
        <div class="content__posts__post">
            <h2 class="h2__space">{{ post.title }}</h2>
            <p class="p__space">{{ post.category.name }}</p>
            <p class="p__space">{{ post.entry }}</p>
            <p>Posted on {{ post.created_on }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
