{% extends "forum/base_forum.html" %}
{% block heading %}
  {{ thread.category.name }}
{% endblock heading %}
{% block content %}
  <div class="content__threads">
    <div class="content__threads__user">
      <h2>{{ thread.title }}</h2>
      <h3>{{ thread.author }}</h3>
      <p>{{ thread.entry }}</p>
      <p>{{ thread.created_on }}</p>
      <p>{{ thread.updated_on }}</p>
    </div>
    <br>
    <div class="content__threads__others">
      <h2>See other threads from this category</h2>
      {% for other_thread in threads %}
        {% if other_thread.category.name == thread.category.name and other_thread.title != thread.title %}
          <a href={% url "forum:thread_detail" pk=other_thread.pk %}>{{ other_thread.title }}</a>
          <br>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
