{% extends "forum/base_forum.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static "forum/css/thread_list.css" %}">
{% endblock head %}
{% block heading %}
  <header>
    <h1>Thread List</h1>
  </header>
{% endblock heading %}
{% block content %}
  <div class="content">
    <div class="content__threads">
      <div class="content__threads__create">
        <a href={% url "forum:thread_create" %}>Create a Thread</a>
      </div>
      <div class="content__threads__user">
        <h2>Your Threads</h2>
        {% for thread in user_threads %}
          {% if thread.author.user == user %}
            <a href={% url "forum:thread_detail" thread.pk %}>{{ thread.title }}</a>
          {% endif %}
        {% empty %}
          <p>You don't have any threads so far, create one!</p>
        {% endfor %}
      </div>
      <br>
      <div class="content__threads__other">
        <h2>Other Threads</h2>
        {% for category in categories %}
          <h3>{{ category.name }}</h3>
          <h4>{{ category.description }}</h4>
          {% for thread in other_threads %}
            <a href={% url "forum:thread_detail" thread.pk %}>{{ thread.title }}</a>
            <br>
          {% empty %}
            <p>There's no threads in this category so far!</p>
          {% endfor %}
          <br>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
