{% extends "forum/base_forum.html" %}
{% block heading %}
  Thread List
{% endblock heading %}
{% block content %}
  <div class="content__categories">
    <h2>Your Threads</h2>
    {% for thread in threads %}
      {% if thread.author.user == user %}
        <a href={{ thread.category.get_absolute_url }}>{{ thread.title }}</a>
      {% endif %}
    {% endfor %}
    <h2>Other Threads</h2>
    {% for category in categories %}
      <h3>{{ category.name }}</h3>
      <h4>{{ category.description }}</h4>
      {% for thread in threads %}
        {% if thread.category.name == category.name and thread.author.user != user %}
          <a href={{ thread.category.get_absolute_url }}>{{ thread.title }}</a>
          <br>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
{% endblock content %}
