{% extends "forum/base_forum.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static "forum/css/thread_detail.css" %}" type=text/css>
{% endblock head %}
{% block heading %}
{% endblock heading %}
{% block content %}
  <div class="content">
    <div class="content__threadlist">
      <a href={% url "forum:thread_list" %}>Go back to threads list</a>
    </div>
    <div class="content__thread">
      <div class="content__thread__heading">
        <h1>{{ thread.title }}</h1>
        <p>{{ thread.category.name }}</p>
      </div>
      <div class="content__thread__contents">
        <div class="content__contents__aside">
          <p>
            <b>Author:</b> {{ thread.author }}
          </p>
          <p>
            <b>Created on:</b> {{ thread.created_on }}
          </p>
          <p>
            <b>Updated on:</b> {{ thread.updated_on }}
          </p>
          {% if thread.author.user == user %}
            <a href={% url "forum:thread_update" pk=thread.pk %}><b>Update Thread</b></a>
          {% endif %}
        </div>
        <div class="content__contents__main">
          <p>{{ thread.entry }}</p>
          {% if thread.image %}
            <img src="{{ thread.image.url }}"
                 alt="Image for thread &quot;{{ thread.title }}&quot;">
          {% endif %}
        </div>
      </div>
    </div>
    <div class="content__thread__comments">
      <div class="content__comments__heading">
        <h2>Comments</h2>
      </div>
      <div class="content__comments__contents">
        {% for comment in comments %}
          <div class="content__comments__aside">
            <p>Author: {{ comment.author }}</p>
            <p>Comment for Thread "{{ comment.thread.title }}"</p>
            <p>Created on: {{ comment.created_on }}</p>
            <p>Updated on: {{ comment.updated_on }}</p>
          </div>
          <div class="content__comments__main">
            <p>{{ comment.entry }}</p>
          </div>
        {% empty %}
          <p class="content__comments__none">There's no comments for this thread yet!</p>
        {% endfor %}
      </div>
      {% if request.user.is_authenticated %}
        <div class="content__comments__form">
          <h2>Post a Comment</h2>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
          </form>
        {% endif %}
      </div>
    </div>
    <br>
    <div class="content__thread__others">
      <h2>See other threads from the {{ thread.category.name }} category</h2>
      {% for other_thread in threads %}
        <a href={% url "forum:thread_detail" pk=other_thread.pk %}>{{ other_thread.title }}</a>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
