{% extends "commissions/base_commissions.html" %}
{% load static %}
{% block title %}
  Commission
{% endblock title %}
{% block heading %}
  <a href="{% url "commissions:commission_list" %}">{{ commission }}</a>
{% endblock heading %}
{% block content %}
  <p>From {{ commission.author }}</p>
  <p>Description: {{ commission.description }}</p>
  <p>Total Manpower Required: {{ manpower_required }}</p>
  <p>Total Manpower Open: {{ manpower_open }}</p>
  <p>Status: {{ commission.get_status_display }}</p>
  <br>
  <p>Created on: {{ commission.created_on }}</p>
  <p>Updated on: {{ commission.updated_on }}</p>
  {% if user.pk == commission.author.pk %}
    <a href={% url "commissions:commission_update" commission.pk %}>Update Commission</a>
  {% endif %}
  <br>
  <br>
  <p>Jobs:</p>
  <ul>
    {% for job in jobs %}
      <li>
        <p>{{ job.role }} ({{ job.status }})</p>
        <p>(Manpower Required: {{ job.manpower }})</p>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
