<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    {% block styles %}
    {% endblock styles %}
  </head>
  <body>
    <nav>
      <a href="{% url "merchstore:product_list" %}">Merchandise Store</a>
      <a href="{% url "wiki:article_list" %}">Wiki</a>
      <a href="{% url "blog:article_list" %}">Blog</a>
      <a href="{% url "forum:forum_list" %}">Forum</a>
      <a href="{% url "commissions:commission_list" %}">Commission</a>
    </nav>
    <h1>
      {% block heading %}
      {% endblock heading %}
    </h1>
    {% block content %}
    {% endblock content %}
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
