<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    {% block styles %}
    {% endblock styles %}
  </head>
  <body>
    {% block nav %}
      <nav>
        <a href="{% url 'merchstore:product_list' %}">Merchandise Store</a>
        <a href="{% url 'wiki:article_list' %}">Wiki</a>
        <a href="{% url 'blog:article_list' %}">Blog</a>
        <a href="{% url 'forum:thread_list' %}">Forum</a>
        <a href="{% url 'commissions:commission_list' %}">Commission</a>
        {% if user.is_authenticated %}
        <a href="{% url 'user_management:profile' %}">Profile</a>
        {% endif %}
        <div>
          {% if user.is_authenticated %}
          <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
          {% else %}
          <a href="{% url 'login' %}">Login</a>
          {% endif %}
        </div>
      </nav>
    {% endblock nav %}
    <h1>
      {% block heading %}
      {% endblock heading %}
    </h1>
    {% block content %}
    {% endblock content %}
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
