{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
          rel="stylesheet">
    {% block head %}
    {% endblock head %}
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    {% block styles %}
    {% endblock styles %}
  </head>
  <body>
    {% block nav %}
      <nav>
        <a href="{% url 'merchstore:product_list' %}">Merchandise Store</a>
        <a href="{% url 'wiki:article_list' %}">Wiki</a>
        <a href="{% url 'blog:article_list' %}">Blog</a>
        <a href="{% url 'forum:thread_list' %}">Forum</a>
        <a href="{% url 'commissions:commission_list' %}">Commission</a>
        {% if user.is_authenticated %}
          <a href="{% url 'user_management:profile' %}">Profile</a>
        {% endif %}
        {% if user.is_authenticated %}
          <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        {% else %}
          <a class="nav__login" href="{% url 'login' %}">Login</a>
        {% endif %}
      </nav>
    {% endblock nav %}
    {% block heading %}
    {% endblock heading %}
    {% block content %}
    {% endblock content %}
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
